.venv/
/build*/
__pycache__/
.pytest_cache/
.ruff_cache/
*.py[cod]
*.egg-info/
models/*.pt
modules/web_hmi_target_manager/web/node_modules/
modules/web_hmi_target_manager/web/dist/
modules/web_hmi_target_manager/web/*.tsbuildinfo
modules/web_hmi_target_manager/web/vite.config.js
modules/web_hmi_target_manager/web/vite.config.d.ts
*.log
.deps
.npmrc